/*body{
    border: 5px double burlywood;
    width: fit-content;
    padding: 10px;
    background-color: cornsilk;
}*/
div{
    border: 5px double burlywood;
    width: fit-content;
    padding: 10px;
    background-color: cornsilk;
    
}
body{
    background-color: whitesmoke;
}